body{
    background-color: gray;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tech-image {
    width:100px;
    height:100px
}
#follow-image{
    width:300px;
    height: auto;
}